[package]
name = "blitzkrieg"
description = "An HTTP Web Server."
version = "0.1.4"
edition = "2021"
license = "MIT"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
